<mat-card class="welcomeCard">
    <mat-card-header>
      <div mat-card-avatar class="welcomeImage"></div>
      <mat-card-title>Tecnologías de Información</mat-card-title>
      <mat-card-subtitle>Tecnologías Educativas</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://ufidelitas.ac.cr/assets/en/Josue/BannerPrincipal.jpg" alt="Welcome Image">
    <mat-card-content style="float: left;">
      <p>
        Bienvenidos a la página principal de servicio del área de Tecnologias de Información de la universidad Fidélitas
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div id="container">
        <mat-list id="navButton">
          <mat-list-item>
              <a mat-list-item href="https://www.fidelitasvirtual.org/moodle3" class="ButtonFull">CAMPUS VIRTUAL</a>
          </mat-list-item>
        <br>
          <mat-list-item>
              <a mat-list-item href="https://sa.ufidelitas.ac.cr/login/login.aspx" class="ButtonFull">SISTEMA ACADEMICO</a>
          </mat-list-item>
          <br>
          <mat-list-item>
              <a mat-list-item class="ButtonFull" href="https://e5.onthehub.com/WebStore/Security/Signin.aspx?ws=4ac7308f-8f06-e311-93f3-b8ca3a5db7a1&vsro=8&rurl=%2fWebStore%2fProductsByMajorVersionList.aspx%3fcmi_cs%3d1%26cmi_mnuMain%3dbdba23cf-e05e-e011-971f-0030487d8897%26ws%3d4ac7308f-8f06-e311-93f3-b8ca3a5db7a1%26vsro%3d8">MICROSOFT IMAGINE</a>
          </mat-list-item>
          <br>
          <mat-list-item>
              <a mat-list-item class="ButtonFull" href="http://mercadeo.ufidelitas.ac.cr/ac/admin/">ACTIVE CAMPAIGN</a>
          </mat-list-item>
          <br>
          <mat-list-item>
              <a mat-list-item class="ButtonFull" href="http://192.168.100.30/PBXPortal/index.php?c=1">CENTRAL TELEFONICA</a>
          </mat-list-item>
        </mat-list>
      </div>
      </mat-card-actions>
  </mat-card>

